{% extends 'base.html' %}

{% block title %} Leaderboard {% endblock %}

{% block content %}
        <h1 align="center">Leaderboard</h1><br>
        
        <div class="span8 centering">
            <table class="table table-hover table-responsive">
                <tr><th>Rank</th><th>Username &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th><th>Level</th><th>Last Done</th></tr>
                {% for user in users %}

                    <tr><td>{{ forloop.counter }}</td><td>{{ user.user.username }}</td><td>{{ user.current_level }}</td><td>{{ user.time }}</td></tr>
                {% endfor %}
            </table>
            </div>
            
{% endblock %}